@import "~normalize.css/normalize.css";
/* символ ~ ведёт в папку node_modules */
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/iconWP.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.code {
    color: crimson;
}